# React Native
react_native_app/node_modules/
react_native_app/.expo/

# Django
django_backend/__pycache__/
django_backend/db.sqlite3  
django_backend/.env        

# Python and Virtual Environments
*.pyc
venv/
model_training/venv/

model_training/data/

.DS_Store
